*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    background-color: rgb(226, 226, 226);
    font-family: "Roboto",sans-serif;
}
.btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
}
header{
    background-color: rgb(226, 226, 226);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 50px rgb(184, 184, 184);
    /* height: 10vh; */
}

nav{
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.5vh;
}

nav .logo{
    font-size: 1.6rem;
    color:  rgb(5, 71, 126);
    padding: 0.5rem 1rem;
}

nav ul{
    display: flex;
    margin-right: 1rem;
}

nav ul li{
    list-style: none;
    transition-property: all;
    transition-duration: 1s;
   
}
nav ul li a{
    margin-right: 2.5rem;
    font-size: 1.2rem;
    color:  rgb(5, 71, 126);
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
nav ul li:hover{color:   rgb(2, 39, 70); transform: scale(1.1);}

#about-showcase{
    height: 50vh;
    background: linear-gradient( rgba(5, 71, 126,0.9), rgba(40, 123, 190, 0.9)),url("images/pexels-mikhail-nilov-7682472.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-showcase .content{
    padding: 3rem;
    /* background-color: tomato; */
    width: 80rem;
    display: flex;
    justify-content: space-between;

}
.about{
    /* background-color: silver; */
    width: 50rem;
    padding: 1rem;

}
.about h1{
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
}
.about p{
    color: white;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.number {
    font-size: 2rem;
    color: white;
}

#our-story{
/* background-color: tomato; */
display: flex;
justify-content: center;
align-items: center;
padding: 3rem;
}
.our-story-content{
    /* background-color: white; */
    width: 60rem;
    padding: 1rem;
}
.our-story-content h2{
    color:  rgb(5, 71, 126) ;
    font-size: 2rem;
}
.our-story-content p{
    color: rgb(102, 101, 101);
    line-height: 2.5rem;
}
.our-story-content .story{
   
    padding: 2.5rem 0;
}
.our-story-content .story h2{
    font-size: 4rem;
    padding: 1rem 0;
}
.our-story-content .vision{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

#our-core-values{
    background: linear-gradient(rgba(255, 255, 255,0.8),rgba(255,255,255,0.8)),url("images/pexels-pixabay-267507.jpg") fixed no-repeat center center/cover;
}
.our-core-values-content{

}

.our-values-heading-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-values-heading-para h2{padding: 0.5rem 0;font-weight: 500; font-size: 3.5rem;padding: 0.5rem 0;color: rgb(5, 71, 126);}
.our-values-heading-para .cnt-para{padding: 0 0 1rem 0;padding-bottom: 1rem;color: rgb(1, 36, 65);font-size: 1rem;}

.our-core-values-content .values-boxes-container{
 
    display: grid;
    grid-template-columns: repeat(3,18rem);
    grid-template-rows: repeat(3,10rem);
    grid-column-gap:  3rem;
    grid-row-gap: 2rem;
    justify-content: center;
}
.values-boxes-container .values-boxes{
    padding: 1rem;
    background-color:white;
    color: rgb(56, 56, 56);
    border-radius: 0 2.5rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid  rgb(5, 49, 85);
}
.values-boxes-container .values-boxes:nth-child(odd){
    background-color: rgb(5, 49, 85);
    color: white;
}
.values-boxes i{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
footer{
    background:linear-gradient(45deg,rgb(3, 42, 73),rgba(3, 80, 143,0.6));
    color: white;
    margin-top: 6rem;
    /* display: flex; */
    padding: 1rem;
}
footer .footer-content{
    /* background-color: tomato; */
    width: 30rem;
    margin-left: 5rem;
}
.footer-content h2{
    font-size: 2rem;
}
.footer-content p{
    line-height: 1.5rem;
}
.footer-content ul{
    display: flex;
}
.footer-content ul li{
    list-style: none;
}
.fab{
    margin: 0.5rem 1rem;
    font-size: 2.5rem;
    /* background-color: white; */
    cursor: pointer;
    transition-property: all;
    transition-duration: 900ms;
    transition-timing-function: ease-in-out;
}
.fab:hover{
    transform: scale(1.1);
}
.copy-rights p{
    font-size: 0.8rem;
    margin-left: 4rem;
    padding-top: 1rem;
    font-weight: 700;
}
